body {
			margin:0;
			font-size: medium;
			color: #155ba3;
			font-family: sans-serif;
		}
		div#top {
			background-image: url('/public/images/top-1024.jpg');
			background-position: top center;
			background-repeat: no-repeat;
			width: 1024px;
			height: 258px;
			margin: 0 auto;
			padding: 0;
		}
		div#middle {
			width: 1024px;
			margin: 0 auto;
			/*margin-right: 0 auto;
			margin-top: 258px;
			padding: 5px;*/
		}
		div#search {
			position:relative;
			top: 10px;
			float: right;
			width: 300px;
		}
		input#search_submit {
			background: url('/public/images/search.jpg');
			width: 22px;
			height: 20px;
			border: none;
		}
		input#search_req {
			position:relative;
			margin-top: 35px;
			margin-right: 5px;
			width: 250px;
			height: 20px;
			border: #cccccc 1px solid;
		}
		hr.blue_line {
			height: 1px;
			width: inherit;
			border: 0;
			background-color: #8eaccc;
		}
		div#footer {
			height: 60px;
			width: 1024px;
			margin: 0 auto;
			background-color: #890f1e;
		}
		div.content {
			padding: 5px;
		}
		td.left {
			/*float: left;*/
			width: 150px;
            vertical-align: top;
			/*padding: 5px;*/
			border-left: #890f1e 3px solid;
		}
		div.left {
			float: left;
		}
		div.right {
			/*position: static;
			top: 0;
			left: 200px;*/
			float: right;
		}
		td.right {
			width: 874px;
		}
		td.left ul {
			margin: 0px;
			padding-left: 5px;
			list-style: none;
			font-size: smaller;
		}
        td.left li {
            margin-bottom: 3px;
        }
		div.post {
			width: 98%;
			border: #b6b6b6 1px solid;
			padding: 5px;
			margin-left: 0;
			margin-top: 8px;
			margin-right: 0;
			margin-bottom: 8px;
			background-color: #f1f1f0;
		}
		a {
			text-decoration: none;
			padding: 2px;
		}
		a.cat {
			background-color: #da2928;
			color: white;
			padding: 2px;
		}
		a:hover {
			background-color: #fa4948;
			color: white;
		}
		* .error {
		    color: red;
		}
		span.error {
		    font-size: 8pt;
		}
		span.rate {
			color: #b7b7b7;
			font-weight: bold;
			font-size: 16pt;
			font-family: Arial;
		}
		H3 {
			/*color: #205ea5;*/
			color: #135aa3;
			font-family: Tahoma;
		}
		span.post_date {
			padding-left: 15px;
			color: #82817f;
			font-size: small;
		}
        span.post_date img {
            vertical-align: middle;
		}
		span.post_info {
			padding: 2px;
			color: white;
			background-color: #da2928;
		}
		a img {
			border: none;
			vertical-align: text-top;
		}
		label {
		    font-size: 8pt;
		}