<div class="pagination">
    %{
    _pages = (int)(_total / _perPage);
    %}
    #{if _page == 0}
        &larr;
    #{/if}
    #{else}
        <a href="@{Application.index(_page-1)}">&larr;</a>
        <a href="@{Application.index()}">0</a>
    #{/else}
    
    #{if _page != 0}
    …
    #{/if}

    ${_page}

    #{if _page != _pages}
    …
    #{/if}

    #{if _page != _pages}
        <a href="@{Application.index(_pages)}">${_pages}</a>
        <a href="@{Application.index(_page+1)}">&rarr;</a>
    #{/if}
    #{else}
        &rarr;
    #{/else}
</div>