<div class='post'>
    <div>
        <div class="left">
            <a class="cat" href="@{Application.showCategory(_post.category.id)}">${_post.category.title}</a>
        </div>
        <div class="right"><span class="rate">*{${_post.getRating()}}*</span></div>
        &nbsp;
    </div>

    <h3><a href="@{Application.showPost(_post.id)}">${_post.title}</a></h3>

    <div class="content">
        ${_post.description.raw()}
    </div>

    <div>
        <div class="left"><span class="post_date"><img src="/public/images/clock.png" alt="" /> Добавлено: <b>${_post.postedAt.format('dd MMM yyyy HH:mm')}</b></span></div>
        <div class="right">
            <span class="post_info">
                <a class="cat" href="@{Application.showPost(_post.id)}#comments">Комментировать</a>
                &nbsp;
                <a href="http://vkontakte.ru/share.php?url=@@{Application.showPost(_post.id)}"><img src='/public/images/vk.jpg' alt='vk.com' /></a>
                <a href="http://www.facebook.com/sharer.php?u=@@{Application.showPost(_post.id)}"><img src='/public/images/fb.png' alt='facebook.com' /></a>
                <a href="http://twitter.com/share?text=${_post.title}&url=@@{Application.showPost(_post.id)}"><img src='/public/images/tw.png' alt='twitter.com' /></a>
                <g:plusone size="small" href="@@{Application.showPost(_post.id)}"></g:plusone>
            </span>
        </div>
        &nbsp;
    </div>
</div>