#{extends 'main.html' /}
#{set title:'Создать пост' /}

<h3>Редактирование контента</h3>

#{form action:@Application.savePost(), enctype:'multipart/form-data'}
    #{field 'post.title'}
        <p>
          <label>&{field.name}</label>
          <input type="text" name="${field.name}" value="${field.value}" size="100" class="${field.errorClass}" />
          <span class="error">${field.error}</span>
        </p>
    #{/}

    #{field 'attachments[0]'}
        <p>
            <input type="file" name="${field.name}" accept="image/*" />
        </p>
    #{/}

    #{field 'attachments[1]'}
        <p>
            <input type="file" name="${field.name}" accept="image/*" />
        </p>
    #{/}

        <p>
            <input type="submit" value="Отправить" />
        </p>
#{/form}