#{extends 'main.html' /}
#{set title:'Sosa Sola. Регистрация' /}

#{ifErrors}
    <h4>Обнаружены ошибки</h4>
#{/ifErrors}

#{form action:@Application.registerUser(), enctype:'multipart/form-data'}
    <p>
        <label for="email">Email:</label> <br />
        <input id="email" type="text" name="newuser.email" value="${newuser?.email}"/>
        <span class="error">#{error 'newuser.email' /}</span>
    </p>
    <p>
        <label for="fullname">Имя:</label> <br />
        <input id="fullname" type="text" name="newuser.fullname" value="${newuser?.fullname}"/>
        <span class="error">#{error 'newuser.fullname' /}</span>
    </p>
    <p>
        <label for="password">Пароль:</label> <br />
        <input id="password" type="password" name="newuser.password" value="${newuser?.password}"/>
        <span class="error">#{error 'newuser.password' /}</span>
    </p>
    <p>
        <label for="confirmation">Подтверждение:</label> <br />
        <input id="confirmation" type="password" name="newuser.confirmation" value="${confirmation}"/>
        <span class="error">#{error 'validation.confirmation' /}</span>
    </p>
    <p>
        <input type="submit" value="Зарегистрироваться"/>
    </p>
#{/form}
