#{extends 'main.html' /}
#{set title:'Sosa Sola - не без прикола' /}

#{if post}
<div class='post'>
    <div>
        <div class="left">
            <a class="cat" href="@{Application.showCategory(post.category.id)}">${post.category.title}</a>
        </div>
        <div class="right"><span class="rate">*{${post.getRating()}}*</span></div>
        &nbsp;
    </div>

    <h3><a href="@{Application.showPost(post.id)}">${post.title}</a></h3>

    <div class="content">
        ${post.content.raw()}
    </div>

    <div>
        <div class="left"><span class="post_date"><img src="/public/images/clock.png" alt="" /> Добавлено: <b>${post.postedAt.format('dd MMM yyyy HH:mm')}</b></span></div>
        <div class="right">
            <span class="post_info">
                <a href="http://vkontakte.ru/share.php?url=@@{Application.showPost(post.id)}"><img src='/public/images/vk.jpg' alt='vk.com' /></a>
                <a href="http://www.facebook.com/sharer.php?u=@@{Application.showPost(post.id)}"><img src='/public/images/fb.png' alt='facebook.com' /></a>
                <a href="http://twitter.com/share?text=${post.title}&url=@@{Application.showPost(post.id)}"><img src='/public/images/tw.png' alt='twitter.com' /></a>
                <g:plusone size="small" href="@@{Application.showPost(post.id)}"></g:plusone>
            </span>
        </div>
        &nbsp;
    </div>
</div>

<h4>Комментарии</h4>
<a name="comments"></a>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'sosasola'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

#{/if}
#{else}
<h2>Пост не найден</h2>
#{/else}