#{extends 'main.html' /}
#{set title:'Sosa Sola - не без прикола' /}

#{if posts}
    <div class="content">
        #{pagination total:total, perPage:perPage, page:page /}
    </div>

    #{list items:posts, as:'p' }
        #{show_post post:p /}
    #{/list}
#{/if}
#{else}
    <h2>No posts</h2>
#{/else}